/* bootstrap overrides */
.bg-primary {
	background-color: #121212 !important;
}

.bg-secondary {
	background-color: #252525 !important;
}

.bg-info {
	background-color: #454545 !important;
}

/* custom css */
.pink-border {
	border: 4px;
	border-color: #bb60c5;
	border-style: solid;
}

.primary-border {
	border: 2px;
	border-color: #121212;
	border-style: solid;
}

.info-border {
	border: 2px;
	border-color: #454545;
	border-style: solid;
}

.background-01 {
	background-image: url("../assets/images/background-image-wires.jpg");
	background-size: cover;
}

.pill-offset {
	margin-top: -2.5rem;
}

.card-offset {
	margin-top: -2.5rem;
}

/* Change position of badges */
.card-badges {
	margin-top: 0rem;
}

a:link a:visited a:hover a:active {
	color: #bb60c5;

}

.theme-pink {
	color: #bb60c5;
}